* {
    margin: 0;
}

:root {
    --c1: rgb(30, 40, 50);
    --c2: white;
    --c3: black;
    --c4: rgb(163, 163, 163);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    animation: showUp 0.5s;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal > div {
    width: 50%;
    padding: 30px;
    background-color: var(--c2);
}

.modal > div > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.modal > div:nth-child(2) {
    animation: showUp 1s 0.25s forwards, showDown 1s 2s forwards;
    opacity: 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border-radius: 25px;
}

.errorMsg {
    color: var(--c2);
    background-color: var(--c1);
    padding: 10px;
    border-radius: 10px;
    max-width: fit-content;
    z-index: 2;
    align-self: center;
    justify-self: center;
    opacity: 0;
    animation: showUp 1s 0.25s forwards, showDown 1s 2s forwards;

}

@keyframes showUp {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes showDown {
    0% { opacity: 1;}
    100% { opacity: 0;}
}